@charset "UTF-8";

html {
  overflow: auto;
}

body {
  font-size: 16px;
  background-color: rgb(32, 32, 32);
  background-image: url("../images/back_img.png");
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

.contactContent {
  display: block;
  width: 80vw;
  margin: 80px auto;
}

#title_aboutSite {
  display: block;
  margin: 160px auto 90px auto;
}

input[type="submit" i] {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0,0,0);
  padding: 18px 8px;
  border-width: 1px;
  border-style: outset;
  border-color: rgb(255, 255, 255);
  border-image: initial;
}

.contact_form {
  /* text-align: center; */
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto 200px auto;
}

.wpcf7-form {
  position: relative;
  display: block;
  width: 70vw;
  top: 100px;
  margin: 0 auto;
}

.wpcf7-form-control {
  width: 100%;
}

.wpcf7-submit {
  position: relative;
  width: 100px;
  margin: 0 auto;
}

.wpcf7-validates-as-required {
  height: 30px;
}

.wpcf7-response-output {
  color: #000;
}

/*スマホレスポンシブ*/
@media screen and (max-width: 500px) {
  html {
    overflow: auto;
  }

  body {
    font-size: 16px;
    background-color: rgb(32, 32, 32);
    background-image: url("../images/back_img.png");
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
  }

  .contactContent {
    display: block;
    width: 80vw;
    margin: 20px auto;
  }

  #title_aboutSite {
    display: block;
    width: 80vw;
    margin: 0 auto 50px auto;
  }

  input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0,0,0);
    padding: 18px 8px;
    border-width: 1px;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    border-image: initial;
  }

  .contact_form {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 auto 200px auto;
  }

  .wpcf7-form {
    position: relative;
    display: block;
    top: 100px;
    width: 80vw;
    margin: 0 auto;
  }

  .wpcf7-form-control {
    width: 80vw;
  }

  .wpcf7-submit {
    position: relative;
    width: 100px;
    margin: 0 auto;
  }

  .wpcf7-validates-as-required {
    height: 30px;
  }

  .wpcf7-response-output {
    color: #fff;
    width: 80vw;
  }
}
