.news_pages_container {
  display: block;
  width: 70vw;
  height: auto;
  margin: 0 auto;
}

.news_articles_article_page {
  display: flex;
  height: 70px;
}

.news_articles_article_date_page {
  font-size: 25px;
  color: rgb(70, 70, 70);
  margin: 0 100px 100px 0;
}

.news_articles_article_title_page {
  font-size: 25px;
  color: rgb(70, 70, 70);
  transition: all 0.5s;
}

.news_articles_article_title_page:hover {
  font-size: 25px;
  color: #fff;
  background: #353535;
  transition: all 0.5s;
}

.news_articles {
  margin: 0 0 40px 0;
}

#title_aboutSite {
  display: block;
  margin: 160px auto 50px auto;
}

a {
  height: 50px;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: #5a5a5a;
}

.newsContent{
  display: block;
  width: 85vw;
  margin: 0 auto;
}

/*スマホレスポンシブ*/
@media screen and (max-width: 500px) {
  .news_pages_container {
    display: block;
    width: 90vw;
    height: auto;
    margin: 0 auto;
  }

  .news_articles_article_page {
    display: block;
    width: 90%;
    height: 70px;
  }

  .news_articles_article_date_page {
    font-size: 14px;
    color: rgb(70, 70, 70);
    margin: 0 10px 2px 0;
  }

  .news_articles_article_title_page {
    font-size: 14px;
    color: rgb(70, 70, 70);
    transition: all 0.5s;
  }

  .news_articles_article_title_page:hover {
    font-size: 14px;
    color: #fff;
    background: #353535;
    transition: all 0.5s;
  }

  .news_articles {
    margin: 0 0 40px 0;
  }

  #title_aboutSite {
    display: block;
    width: 80%;
    margin: 10px auto 30px auto;
  }

  a {
    height: 50px;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    color: #5a5a5a;
  }
}
